## Introduction to Python

### By Agnes Wangechi

> Hello Stranger! These are notes I made when I was learning about python during my #100daysofCode Challenge.

  **Start date of challenge: 7th November 2022 (in-progress)**

### Comments

Comments can be very useful in programming and are used to give additional information about a program. 

Comments are normally ignored by a program. This means there will be no output or error message after compilation.

Comments in python are indicated by the `#` sign

In [9]:
#This is an example of a comment

### Variables

Imagine we have a box, we name the box age. Inside the box we put 39 balls. The box name, age, is the variable name while the 39 balls is the value or variable.

Variables are assigned values using the equal sign character `=`. Variable name can consists of numbers `0-9`, characters `A-Z, a-z`, and underscore `_`. 

Python is case sensitive so the variable name can only start with a small letter `vehicle` or the variable can be all capital letters `VEHICLE` but cannot start with a capital letter followed with small letters `Vehicle`. 

Variable names can start with an underscore. However it cannot start with a number.

When underscores are used to separate two words.

There are special key words used in python that cannot be used when creating variables such as `for`, `if`, `import`, `while`.

In [2]:
age = 39
my_name = "Agnes" # name is the variable name while Agnes is the variable/value

### Expressions and statements

Expressions are any code that returns a value

In [6]:
1+1

2

In [5]:
'Agnes'

'Agnes'

Statements do operations on values.

In [7]:
my_name = "Agnes" # This is a statement because we are doing an operation of 
                  # assigning the value Agnes to a variable name called my_name
    
print(my_name)# This is also a statement because we are doing an operation of printing the value Agnes as an output

Agnes

Programs consists of statements. Each statement is placed on its own line as seen above. However statements can be placed on one line by the use of a semicolon `;`

In [10]:
my_name = 'Agnes'; print(my_name)

Agnes

### Data types

There are several types of data types:

1. String indicated as `str`. These are a set of alphabet characters `A-Z, a-z`. Strings are always declared using double `" "` or single quotes `' '`.

2. Float indicated as `float`. These are numbers that have deciaml points e.g `2.9`.

3. Integer indicated as `int`. These are numbers `0-9` that do not have a decimal point.

4. Boolean indicated as `bool`. This returns either `True` or `False` depending on the statement.

Python has an inbuilt funtion called `type` that enables one to know the data type of a value

In [11]:
name = "Agnes"
print(type(name)) # We use the print funtion to dispaly the output.

<class 'str'>

> We can see the output is the data type string.

One can compare the value/variable to data type which will output a boolean `True` if it matches or `False` if it does not.

The example below will be checking if the value is a float

In [12]:
age = 30
print(type(age) == float)

False

> We can see the output is False. 10 is an integer not a float.

There is another function that does the same operation called `isinstance`. This gives a boolean output.

In [13]:
age = 30
print(isinstance(age, str))

False

> We can see the output is false because the 30 is and integer not a string.

### Operators

**1. Assignment operator `=` - Used to assign the variables to variable names**

In [1]:
age = 20

**2. Arithmetic operator `+, -, *, /` - Used in basic arithmetic/math operations.**

In [11]:
1 + 1 # Addition

2

`+` Can also be used to concatenate strings

In [13]:
print("Can" + " you fly?")

Can you fly?

In [5]:
2 - 2 # Subtraction

0

`-` Can be used to make a number negative

In [14]:
2 - -2

4

In [6]:
2 * 2 # Multiplication

4

In [7]:
6 / 2 #Division

3.0

In [8]:
4 % 3 # Finding the remainder

1

In [9]:
4 ** 2 # Exponents/ power

16

In [10]:
5 // 2 # Floor division - the answer is rounded down to the nearest whole number

2

Arithmetic and assignment operators can be used together

In [15]:
age = 16
age += 4 # age = age + 4
print(age)

20

**3. Comparison Operators `==, !=, <, >, <=, >=`- Gives a boolean output**

In [16]:
a = 1
b = 3

In [17]:
a == b # Checks if a and b are equal to each other

False

In [18]:
a != b # Checks if a and b are not equal to each other

True

In [19]:
a < b # Checks if a is less than b

True

In [19]:
a > b # Checks if a is greater than b

True

In [20]:
a <= b # Checks if a is less than or equal to b

True

In [21]:
a >= b # Checks if a is greater than or equal to b

False

**4. Boolean Operator - `and, not, or`**

In [23]:
condition1 = True
condition2 = False

In [24]:
not condition2 # not checks if the condition is not True

True

In [25]:
condition1 and condition2 # Checks if both conditions are True

False

In [26]:
condition1 or condition2 # Checks if one of the conditions are True

True

**5. Bitwise operators `&, |, ^, ~, <<, >>`**

`&` - Performs binary AND

`|` - Performs binary OR

`^` - Performs binary XOR

`~` - Performs binary NOT

`<<` - Shift left operation

`>>`- Shift right operation

**6. `is` and `in` operators**

`is` operator is also known as the identity operator. It is used to compare two objects and returns True if both objects are the same. Covered in-depth under objects

`in` operator is also known as the membership operator. It is used to check if a value is in a list. Covered in-depth under lists

**7. Ternary operator - Used to put if else statements in one line**

In [33]:
# Normal if-else loop to check for age
age = 16

def isadult(age):
    if age > 18:
        return True
    else:
        return False
    
check = isadult(age)   
print(check)

False

In [35]:
# Checking for the age using a ternary operator `if`
def isadult2(age):
    return True if age > 18 else False

check2 = isadult2(age)
print(check2)

False