## Introduction to Python

### By Agnes Wangechi

> Hello Stranger! These are notes I made when I was learning about python during my #100daysofCode Challenge.

  **Start date of challenge: 7th November 2022 (in-progress)**

## Table of Contents
<ul>
    <li><a href = "#Comm" >Comments</a></li>
    <li><a href = "#var" >Variables</a></li>
    <li><a href = "#ex" >Expressions and Statements</a></li>
    <li><a href = "#data" >Data types</a></li>
        <ul>
        <li><a href = "#bool" >Boolean</a></li>
        <li><a href = "#com" >Complex Numbers</a></li>
        </ul>
    <li><a href = "#op" >Operators</a></li>
        <ul>
        <li><a href = "#as" >Assignment </a></li>
        <li><a href = "#ar" >Arithmetic </a></li>
        <li><a href = "#comp" >Comparison </a></li>
        <li><a href = "#boo" >Boolean</a></li>
        <li><a href = "#bit" >Bitwise</a></li>
        <li><a href = "#isin" >is and in operators</a></li>
        <li><a href = "#ter" >Ternary</a></li>
        </ul>
    <li><a href = "#st" >Strings</a></li>
        <ul>
        <li><a href = "#strm" >String Methods</a></li>
        <li><a href = "#esc" >Escaping Characters</a></li>
        <li><a href = "#strs" >String Characters & Slicing</a></li>
        </ul>
    <li><a href = "#en" >Enums</a></li>
    <li><a href = "#us" >User Input</a></li>
    <li><a href = "#con" >Control Statements (if/else)</a></li>
    <li><a href = "#datas" >Data Structures</a></li>
        <ul>
        <li><a href = "#lis" >Lists</a></li>
            <ul>
            <li><a href = "#sort" >Sorting Lists</a></li>
            </ul>
        <li><a href = "#tuples" >Tuples</a></li>
        </ul>
</ul>

<a id='Comm'></a>
### Comments

Comments can be very useful in programming and are used to give additional information about a program. 

Comments are normally ignored by a program. This means there will be no output or error message after compilation.

Comments in python are indicated by the `#` sign

In [1]:
#This is an example of a comment

<a id='var'></a>
### Variables

Imagine we have a box, we name the box age. Inside the box we put 39 balls. The box name, age, is the variable name while the 39 balls is the value or variable.

Variables are assigned values using the equal sign character `=`. Variable name can consists of numbers `0-9`, characters `A-Z, a-z`, and underscore `_`. 

Python is case sensitive so the variable name can only start with a small letter `vehicle` or the variable can be all capital letters `VEHICLE` but cannot start with a capital letter followed with small letters `Vehicle`. 

Variable names can start with an underscore. However it cannot start with a number.

When underscores are used to separate two words.

There are special key words used in python that cannot be used when creating variables such as `for`, `if`, `import`, `while`.

In [2]:
age = 39
my_name = "Agnes" # name is the variable name while Agnes is the variable/value

<a id='ex'></a>
### Expressions and statements

Expressions are any code that returns a value

In [3]:
1+1

2

In [4]:
'Agnes'

'Agnes'

Statements do operations on values.

In [5]:
my_name = "Agnes" # This is a statement because we are doing an operation of 
                  # assigning the value Agnes to a variable name called my_name
    
print(my_name)# This is also a statement because we are doing an operation of printing the value Agnes as an output

Agnes

Programs consists of statements. Each statement is placed on its own line as seen above. However statements can be placed on one line by the use of a semicolon `;`

In [6]:
my_name = 'Agnes'; print(my_name)

Agnes

<a id='data'></a>
### Data types

There are several types of data types:

1. String indicated as `str`. These are a set of alphabet characters `A-Z, a-z`. Strings are always declared using double `" "` or single quotes `' '`.

2. Float indicated as `float`. These are numbers that have deciaml points e.g `2.9`.

3. Integer indicated as `int`. These are numbers `0-9` that do not have a decimal point.

4. Boolean indicated as `bool`. This returns either `True` or `False` depending on the statement.

Python has an inbuilt funtion called `type` that enables one to know the data type of a value

In [7]:
name = "Agnes"
print(type(name)) # We use the print funtion to dispaly the output.

<class 'str'>

> We can see the output is the data type string.

One can compare the value/variable to data type which will output a boolean `True` if it matches or `False` if it does not.

The example below will be checking if the value is a float

In [8]:
age = 30
print(type(age) == float)

False

> We can see the output is False. 10 is an integer not a float.

There is another function that does the same operation called `isinstance`. This gives a boolean output.

In [9]:
age = 30
print(isinstance(age, str))

False

> We can see the output is false because the 30 is and integer not a string.

<a id='bool'></a>
**Boolean**

Strings, tuples, lists and dictioneries are false when they are empty

In [10]:
saying = ""

if saying:
    print("yes")
else:
    print("no")

no

In [11]:
saying2 = "Yasssss"

if saying2:
    print("yes")
else:
    print("no")

yes

Numbers are false only when it is zero

In [12]:
count = 0

if count:
    print("yes")
else:
    print("no")

no

In [13]:
count2 = 143482

if count2:
    print("yes")
else:
    print("no")

yes

In [14]:
count3 = -3

if count3:
    print("yes")
else:
    print("no")

yes

`any` and `all` are functions used in boolean because it gives either a True or False output. `any` will give a True when either of the options is True

In [15]:
book1_read = True
book2_read = False
read_any_book = any([book1_read, book2_read])
read_any_book

True

`all` will give a True when both of the options are True

In [16]:
book3_read = True
book4_read = False
read_any_book1 = all([book3_read, book4_read])
read_any_book1

False

<a id='com'></a>
**Complex numbers**

Complex numbers are numbers expressed as a sum of a real part and an immaginary part. The immaginary part is normaly the square root of -1 and is denoted as i (in math) or j (in engineering)

Complex numbers can be declared in two different ways:

In [17]:
num1 = 2+3j
num2 = complex(2,3) #This is an example of a constructor
print(num2.real, num2.imag)

2.0 3.0

<a id='op'></a>
### Operators

<a id='as'></a>
**1. Assignment operator `=` - Used to assign the variables to variable names**

In [18]:
age = 20

<a id='ar'></a>
**2. Arithmetic operator `+, -, *, /` - Used in basic arithmetic/math operations.**

In [19]:
1 + 1 # Addition

2

`+` Can also be used to concatenate strings

In [20]:
print("Can" + " you fly?")

Can you fly?

In [21]:
2 - 2 # Subtraction

0

`-` Can be used to make a number negative

In [22]:
2 - -2

4

In [23]:
2 * 2 # Multiplication

4

In [24]:
6 / 2 #Division

3.0

In [25]:
4 % 3 # Finding the remainder

1

In [26]:
4 ** 2 # Exponents/ power

16

In [27]:
5 // 2 # Floor division - the answer is rounded down to the nearest whole number

2

Arithmetic and assignment operators can be used together

In [28]:
age = 16
age += 4 # age = age + 4
print(age)

20

<a id='comp'></a>
**3. Comparison Operators `==, !=, <, >, <=, >=`- Gives a boolean output**

In [29]:
a = 1
b = 3

In [30]:
a == b # Checks if a and b are equal to each other

False

In [31]:
a != b # Checks if a and b are not equal to each other

True

In [32]:
a < b # Checks if a is less than b

True

In [33]:
a > b # Checks if a is greater than b

False

In [34]:
a <= b # Checks if a is less than or equal to b

True

In [35]:
a >= b # Checks if a is greater than or equal to b

False

<a id='boo'></a>
**4. Boolean Operator - `and, not, or`**

In [36]:
condition1 = True
condition2 = False

In [37]:
not condition2 # not checks if the condition is not True

True

In [38]:
condition1 and condition2 # Checks if both conditions are True

False

In [39]:
condition1 or condition2 # Checks if one of the conditions are True

True

<a id='bit'></a>
**5. Bitwise operators `&, |, ^, ~, <<, >>`**

`&` - Performs binary AND

`|` - Performs binary OR

`^` - Performs binary XOR

`~` - Performs binary NOT

`<<` - Shift left operation

`>>`- Shift right operation

<a id='isin'></a>
**6. `is` and `in` operators**

`is` operator is also known as the identity operator. It is used to compare two objects and returns True if both objects are the same. Covered in-depth under objects

`in` operator is also known as the membership operator. It is used to check if a value is in a list. Covered in-depth under lists

<a id='ter'></a>
**7. Ternary operator - Used to put if else statements in one line**

In [40]:
# Normal if-else loop to check for age
age = 16

def isadult(age):
    if age > 18:
        return True
    else:
        return False
    
check = isadult(age)   
print(check)

False

In [41]:
# Checking for the age using a ternary operator `if`
def isadult2(age):
    return True if age > 18 else False

check2 = isadult2(age)
print(check2)

False

<a id='st'></a>
### Strings

Strings are data types that are defined using quotation marks. Both quotation marks can be used. `"", '',`

In [42]:
name = 'Agnes'
print(name)

name2 = "Wangechi"
print(name2)

print("My name is " + name + " " + name2) # This example shows concatenation in strings

Agnes
Wangechi
My name is Agnes Wangechi

Triple quotes can be used to place a sentence/ paragraph because it is used in multiline scenarios.

In [43]:
print(""" Agnes is a girl.
she loves to code
she is short""")

 Agnes is a girl.
she loves to code
she is short

<a id='strm'></a>
**String Methods**

Python has a set of in-built methods that can be used by strings. The following indicates just a few types of string methods:

1. isalpha() - Checks if a strings has characters only and is not empty
2. isalnum() - Checks if a strings has characters or digits and is not empty
3. isdecimal() - Checks if a strings has digits only and is not empty
4. lower() - To get the lowercase version of a string
5. islower() - Check if the string is lowercase
6. upper() - To get the uppercase version of a string
7. isupper() - Check if the string is uppercase
8. title() - Capitalizes the first letter of each string
9. startswith() - Checks if the string starts with a specific substring
10. endswith() - Checks if the string ends with a specific substring
11. replace() - Replace a part of the string
12. split() - Split a string on a specific character separator
13. strip() - To trim whitespace from a string
14. join() - append new letters to a string
15. find() - find the position of a substring

All these methods do not alter the initial string but provides a new version of the string

In [44]:
# Example
name = 'AGNES'
print(name.lower()) # Modified string
print(name) # Original string

agnes
AGNES

We can use the global function `len` to check the length of a string

In [45]:
name = "Wangechi"
print(len(name))

8

We can use the in operator to check a substing in a string

In [46]:
name = "catttt"
print("at" in name)

True

<a id='esc'></a>
**Escaping Characters**

This is a way of adding special characters in a string

In [47]:
# Example
print('I\'m a cow') # the backslash indicates that the next character in the string is part of the string
# Without the backslash, it will print only letter `I`

I'm a cow

In [48]:
print('You can only choose eggs\\bacon')

You can only choose eggs\bacon

<a id='strs'></a>
**String Characters & Slicing**

One can find a specific part of a string using indexing. The first letter in a string is normally the zero [0] index. It is counted from 0 not 1

In [49]:
message = "You are a cow"
print(message[0]) # Checks the zero index
print(message[1]) # Checks the first index
print(message[1:5]) # Checks from the first index to the fifth index
print(message[3:]) # Checks from the third index to the last
print(message[:7]) # Checks from the zero index to the seventh index

Y
o
ou a
 are a cow
You are

<a id='en'></a>
### Enums

Enums is a python module used for setting constants in a program

In [50]:
from enum import Enum

class State(Enum):
    INACTIVE = 0
    ACTIVE = 1

print(State.ACTIVE.value) #Prints the value of the ACTIVE constant
print(State.ACTIVE)# Prints the name State.ACTIVE
print(list(State)) #Prints the values in the state

1
State.ACTIVE
[<State.INACTIVE: 0>, <State.ACTIVE: 1>]

<a id='us'></a>
### User Input

input function is used to get information from the user

In [51]:
age = (input("What is your age? "))
print("WOAH! you are", age, "years old??????????")

What is your age?
WOAH! you are  years old??????????

<a id='con'></a>
### Control Statements

Control statements are just if else loops

In [52]:
name = " "

if name == "Cow":
    print("Hello", name)
    
elif name == "Sheep":
    print("Hello", name)
else:
    print("Oh no! I didn't get your name")

Oh no! I didn't get your name

<a id='datas'></a>
### Data Structures:

<a id='lis'></a>
### Lists

Lists is an example of a data structure in python. Lists can hold many data types.

In [53]:
dogs = ['SAYD', 4, 'ROBERT', True, 'MAIN', 'kyleo', 5, False]

# As earlier discussed in is an operator used in lists to check if a value is in a list
print("ROBERT" in dogs) #Check if ROBERT is in the list

True

In [54]:
# One can acces an item in a list by using referencing
print(dogs[0])
print(dogs[2])
print(dogs[-1]) #Returns the last value in a list

SAYD
ROBERT
False

In [55]:
#One can update a value in a list by using referencing too
dogs[2] = "cowwwwww"
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5, False]

In [56]:
#One can access a section of a list
print(dogs[0:4])

['SAYD', 4, 'cowwwwww', True]

In [57]:
#Access the list from the zero position to seventh position
print(dogs[:7])

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5]

In [58]:
#Access the list from the third position to last position
print(dogs[3:])

[True, 'MAIN', 'kyleo', 5, False]

In [59]:
# One can check the number of values in a list using the length function
print(len(dogs))

8

In [60]:
#One can add values to a list using the append method but only adds one value
dogs.append("Judy")
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5, False, 'Judy']

In [61]:
#One can add values to a list using the extend method which can add many values
dogs.extend(["Judah", 7, "beatrice"])
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5, False, 'Judy', 'Judah', 7, 'beatrice']

In [62]:
# The += operator can also be used to add values
dogs += ["Nudacris", "job"]
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5, False, 'Judy', 'Judah', 7, 'beatrice', 'Nudacris', 'job']

In [63]:
#Make sure you include the square brackets. If not, it will add the letters not entire word
dogs += "justin"
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'MAIN', 'kyleo', 5, False, 'Judy', 'Judah', 7, 'beatrice', 'Nudacris', 'job', 'j', 'u', 's', 't', 'i', 'n']

In [64]:
# One can remove a value
dogs.remove("MAIN")
print(dogs)

['SAYD', 4, 'cowwwwww', True, 'kyleo', 5, False, 'Judy', 'Judah', 7, 'beatrice', 'Nudacris', 'job', 'j', 'u', 's', 't', 'i', 'n']

In [65]:
# pop is a function that removes the last item added to the list
print(dogs.pop()) # Shows which item is being removed
print(dogs)

n
['SAYD', 4, 'cowwwwww', True, 'kyleo', 5, False, 'Judy', 'Judah', 7, 'beatrice', 'Nudacris', 'job', 'j', 'u', 's', 't', 'i']

In [66]:
# The insert method is used to add a value at the middle of a list
items = ["YES", 4, "NO", "do"]
items.insert(2, "Test") #Add in the second position
print (items)

['YES', 4, 'Test', 'NO', 'do']

In [67]:
#Or add multiple values
items[1:1] = ["Fall1", "Fall2", "FALL"]
print(items)

['YES', 'Fall1', 'Fall2', 'FALL', 4, 'Test', 'NO', 'do']

<a id = 'sort'></a>
**Sorting List**

<a id = 'tuples'></a>
### Tuples

Once a Tuple is created it cannot be altered; nothing can be added to the tuple and nothing can be removed.