## Introduction to Python

### By Agnes Wangechi

> Hello Stranger! These are notes I made when I was learning about python during my #100daysofCode Challenge.

  **Start date of challenge: 7th November 2022 (in-progress)**

### Comments

Comments can be very useful in programming and are used to give additional information about a program. 

Comments are normally ignored by a program. This means there will be no output or error message after compilation.

Comments in python are indicated by the `#` sign

In [9]:
#This is an example of a comment

### Variables

Imagine we have a box, we name the box age. Inside the box we put 39 balls. The box name, age, is the variable name while the 39 balls is the value or variable.

Variables are assigned values using the equal sign character `=`. Variable name can consists of numbers `0-9`, characters `A-Z, a-z`, and underscore `_`. 

Python is case sensitive so the variable name can only start with a small letter `vehicle` or the variable can be all capital letters `VEHICLE` but cannot start with a capital letter followed with small letters `Vehicle`. 

Variable names can start with an underscore. However it cannot start with a number.

When underscores are used to separate two words.

There are special key words used in python that cannot be used when creating variables such as `for`, `if`, `import`, `while`.

In [2]:
age = 39
my_name = "Agnes" # name is the variable name while Agnes is the variable/value

### Expressions and statements

Expressions are any code that returns a value

In [6]:
1+1

2

In [5]:
'Agnes'

'Agnes'

Statements do operations on values.

In [7]:
my_name = "Agnes" # This is a statement because we are doing an operation of 
                  # assigning the value Agnes to a variable name called my_name
    
print(my_name)# This is also a statement because we are doing an operation of printing the value Agnes

Agnes

Programs consists of statements. Each statement is placed on its own line as seen above. However statements can be placed on one line by the use of a semicolon `;`

In [10]:
my_name = 'Agnes'; print(my_name)

Agnes

### Data types

There are several types of data types:

1. String indicated as `str`. These are a set of alphabet characters `A-Z, a-z`. Strings are always declared using double `" "` or single quotes `' '`.

2. Float indicated as `float`. These are numbers that have deciaml points e.g `2.9`.

3. Integer indicated as `int`. These are numbers `0-9` that do not have a decimal point.

4. Boolean indicated as `bool`. This returns either `True` or `False` depending on the statement.

Python has an inbuilt funtion called `type` that enables one to know the data type of a value

In [11]:
name = "Agnes"
print(type(name)) # We use the print funtion to dispaly the output.

<class 'str'>

> We can see the output is the data type string.

One can compare the value/variable to data type which will output a boolean `True` if it matches or `False` if it does not.

The example below will be checking if the value is a float

In [12]:
age = 30
print(type(age) == float)

False

> We can see the output is False. 10 is an integer not a float.

There is another function that does the same operation called `isinstance`. This gives a boolean output.

In [13]:
age = 30
print(isinstance(age, str))

False

> We can see the output is false because the 30 is and integer not a string.

### Type Conversion